    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/joaks1/PyMsBayes">View on GitHub</a>

          <h1 id="project_title">PyMsBayes</h1>
          <h2 id="project_tagline">PyMsBayes is a multi-processing Python API for approximate Bayesian computation</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/joaks1/PyMsBayes/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/joaks1/PyMsBayes/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

